#suv-sec {
    background-color: #006971;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
button {
    background-color: #f2f2f2;
    border-radius: 25px;
    color: #006971;
    font-family: 'Lexend Deca', sans-serif;
    width: 145px;
    height: 50px;
    font-weight: 600;
    border: hidden;
}
.text-box {
    width: 215px;
    height: 125px;
}
@media (max-width: 400px) {
    #suv-sec {
        width: 100vw;
        height: 80vh;
    }
}
@media (min-width: 401px) {
    #suv-sec {
        width: 33vw;
        height: 100vh;
    }
}