@media (max-width: 400px) {
    section {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 401px) {
    section {
        display: flex;
        flex-direction: row;
    }
}