<header>
    <img src="../../../assets/images/careers-location-hero-mobile.jpg" alt="" id="mobile-banner">
    <img src="../../../assets/images/careers-locations-hero-desktop.jpg" alt="" id="desk-banner">
    <h2>Locations</h2>
    <img src="../../../assets/patterns/white-circles.svg" alt="" id="circles">
</header>

<app-map></app-map>
<section id="gotta-move">
<section id="request">
    <h3>Your City Not Listed?</h3>
    <p>If you’d like to see Scoot in your hometown, be sure to let us know. 
    We track requests and plan launches based on demand. 
    Feel free to message us by clicking the link or messaging us on social.</p>
    <button>Message Us</button>
</section>
</section>