<header>
    <img src="../../../assets/images/careers-location-hero-mobile.jpg" alt="" id="mobile-banner">
    <img src="../../../assets/images/careers-locations-hero-desktop.jpg" alt="" id="desk-banner">
    <h2>Careers</h2>
</header>
<section id="head-card">
    <!-- for the top arrow card thingy -->
    <img src="../../../assets/images/join-us.jpg" alt="" id="join-us">
    <img src="../../../assets/patterns/left-downward-arrow.svg" alt="" id="svg">
    <article id="miss-request">
        <h3>Care to join our mission?</h3>
        <p>We’re always looking for ambitious individuals to help 
        us on our journey. If you’re passionate about our mission 
        to provide clean, accessible transport to improve urban 
        living we want to hear from you!</p>
        <button>Say Hello</button>
    </article>
</section>
<section id="mid-card">
    <!-- Why join us cards -->
    <h2 class="section-title">Why join us?</h2>
    <article class="big-card">
        <img src="../../../assets/images/better-living.jpg" alt="" class="card-img">
        <img src="../../../assets/patterns/circle.svg" alt="" class="num-circle">
        <h4>Lorem</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere soluta reiciendis minima tempore, iusto officia deserunt modi deleniti nostrum voluptatem at velit quis ea voluptas distinctio! Sequi sapiente quasi sit.</p>
    </article>
</section>
<section id="low-card">
    <!-- position cards -->
    <article class="position-cards">
        <div>
        <h5>Lorem</h5>
        <p class="position-loc">Lorem ipsum dolor sit amet.</p>
        </div>
        <button class="position-button">Apply</button>
    </article>
</section>