h3 {
    font-family: 'Space Mono';
    color: #495567;
    text-align: center;
}
@media (max-width: 420px) {
    #desk-map {
        display: none;
    }
    #mobile-map {
        width: 311px;
        margin-top: 72px;
    }
    div {
        width: 311px;
        height: 72px;
        background: rgba(252, 183, 43, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section {
        display: flex;
        justify-content: center;
        margin-top: 72px;
    }
    .cities {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-top: 40px;
    }
}
@media (min-width: 421px) {
    #mobile-map {
        display: none;
    }
    div {
        width: 311px;
        height: 72px;
        background: rgba(252, 183, 43, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section {
        display: flex;
        justify-content: center;
        margin-top: 72px;
    }
    .cities {
        display: none;
    }
}