<main>
<section>
    <img src="../../../assets/images/world-map-mobile.png" alt="" id="mobile-map">
    <img src="../../../assets/images/world-map-desktop.png" alt="" id="desk-map">
    <div class="pins" id="us"><h3>New York</h3></div>
    <div class="pins" id="uk"><h3>London</h3></div>
    <div class="pins" id="india"><h3>Jakarta</h3></div>
    <div class="pins" id="japan"><h3>Yokohama</h3></div>
</section>
<section class="cities">
    <div><h3>New York</h3></div>
    <div><h3>London</h3></div>
    <div><h3>Jakarta</h3></div>
    <div><h3>Yokohama</h3></div>
</section> 
</main>