h3 {
    font-family: 'Space Mono';
    color: #495567;
    text-align: center;
}
@media (max-width: 420px) {
    #desk-map {
        display: none;
    }
    div {
        width: 311px;
        height: 72px;
        background-color: #FCB72B 15%;
    }
    section {
        display: flex;
        justify-content: center;
        margin-top: 72px;
    }
    .cities {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
}