#sedan-sec {
    background-color: #E28625;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
button {
    background-color: #f2f2f2;
    border-radius: 25px;
    color: #E28625;
    font-family: 'Lexend Deca', sans-serif;
    width: 145px;
    height: 50px;
    font-weight: 600;
    border: none;
}
button:hover {
    cursor: pointer;
    background-color: #E28625;
    color: #f2f2f2;
    border: 2px #f2f2f2 solid;
}
.text-box {
    width: 215px;
    height: 125px;
}
@media (max-width: 400px) {
    #sedan-sec {
        width: 100vw;
        height: 80vh;
    }
}
@media (min-width: 401px) {
    #sedan-sec {
        width: 33vw;
        height: 100vh;
    }
}