p {
    font-family: 'Lexend Deca';
    color: #939CAA;
    text-align: center;
    font-size: 15px;
}
h3 {
    font-family: 'Space Mono';
    color: #495567;
    text-align: center;
}
@media (max-width: 420px) {
    #desk-banner {
        display: none;
    }
    #filler {
        display: none;
    }
    #filler2 {
        display: none;
    }
    header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
    }
    #mobile-banner {
        position:absolute;
        z-index: -1;
    }
    h2 {
        z-index: 3;
        font-family: 'Space Mono';
        color: #ffffff;
        font-size: 40px;
    }
    .section-title {
        color: #495567;
    }
    #join-us {
        height: 311px;
        width: 311px;
        border-radius: 150px;
    }
    #image2 {
        height: 311px;
        width: 311px;
        border-radius: 150px;
    }
    #first {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 4rem;
        margin-top: 136px;
        margin-bottom: 120px;
        overflow-x: hidden;
    }
    #second {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 4rem;
        margin-top: 72px;
        margin-bottom: 120px;
    }
    #mid-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
    #low-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 145px;
        margin-bottom: 120px;
    }
    #svg {
        width: 735px;
        height: 138px;
        position: absolute;
        overflow: hidden;
        left: 30px;
        bottom: 390px;
    }
    #svg2 {
        width: 500px;
        height: 138px;
        position: absolute;
        /* overflow-x: hidden; */
        left: -130px;
        bottom: 300px;
    }
    #miss-request {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 311px;
    }
    .card-img {
        height: 240px;
        width: 240px;
        border-radius: 150px;
    }
    .num-circle {
        height: 96px;
        width: 96px;
        position: absolute;
        top: 196px;
    }
    .big-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 1rem;
        width: 311px;
    }
    h4 {
        margin-top: 64px;
        font-family: 'Space Mono';
        font-size: 24px;
    }
    .position-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F2F5F9;
        width: 311px;
        height: 190px;
        gap: 1rem;
    }
    h5 {
        text-align: center;
        font-family: 'Space Mono';
        font-size: 24px;
    }
    .position-loc {
        font-size: 15px;
        font-family: 'Lexend Deca';
        color: #495567;
    }
    .position-button {
        width: 247px;
        height: 53px;
    }
    div {
        display: flex;
        justify-content: center;
    }
    #faq {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 72px;
    }
}
/* Beeg */
@media (min-width: 421px) {
    #mobile-banner {
        display: none;
    }
    header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-top: 64px; */
        height: 200px;
        overflow: hidden;
    }
    #desk-banner {
        position:absolute;
        z-index: -1;
    }
    #circles {
        position: relative;
        left: 30px;
    }
    h2 {
        z-index: 3;
        font-family: 'Space Mono';
        color: #ffffff;
        font-size: 40px;
        padding-left: 3rem;
    }
    .section-title {
        color: #495567;
        text-align: center;
        margin-bottom: 100px;
    }
    #join-us {
        height: 445px;
        width: 445px;
        border-radius: 225px;
        margin-right: 165px;
    }
    #image2 {
        height: 445px;
        width: 445px;
        border-radius: 225px;
        margin-left: 165px;
    }
    #filler {
        height: 445px;
        width: 445px;
        position: absolute;
        right: -20rem;
    }
    #filler2 {
        height: 445px;
        width: 445px;
        position: absolute;
        left: -20rem;
    }
    #first {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 4rem;
        margin-top: 72px;
        margin-bottom: 120px;
        overflow-x: hidden;
    }
    #second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 4rem;
        margin-top: 72px;
        margin-bottom: 120px;
        overflow-x: hidden;
    }
    #svg {
        width: 735px;
        height: 138px;
        position: absolute;
        /* overflow-x: hidden; */
        left: 430px;
        bottom: 30px;
    }
    #svg2 {
        width: 500px;
        height: 138px;
        position: absolute;
        /* overflow-x: hidden; */
        left: -130px;
        bottom: 300px;
    }
    #miss-request {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 1rem;
        /* width: 311px; */
        margin-left: 2rem;
    }
    .mission-text {
        text-align: left;
    }
    button {
        background-color: #FCB72B;
        font-family: 'Space Mono';
        color: #ffffff;
        height: 53px;
        width: 192px;
        font-size: 15px;
        margin-bottom: 24px;
        border: none;
    }
    h4 {
        margin-top: 64px;
        font-family: 'Space Mono';
        font-size: 24px;
    }
    div {
        display: flex;
        justify-content: center;
    }
    #faq {
        margin-top: 80px;
    }
}