<header>
    <img src="../../../assets/images/about-hero-mobile.jpg" alt="" id="mobile-banner">
    <img src="../../../assets/images/about-hero-desktop.jpg" alt="" id="desk-banner">
    <h2>About</h2>
</header>
<section id="first">
    <!-- for the top arrow card thingy -->
    <img src="../../../assets/patterns/circle.svg" alt="" id="filler">
    <img src="../../../assets/images/digital-era.jpg" alt="" id="join-us">
    <img src="../../../assets/patterns/left-upward-arrow.svg" alt="" id="svg">
    <article id="miss-request">
        <h3 class="mission-text">Mobility for the digital era</h3>
        <p class="mission-text">Getting around should be simple (and even fun!) for 
        everyone. We embrace technology to provide low cost, 
        smart access to scooters at your fingertips.</p>
    </article>
</section>
<section id="second">
    <!-- for the top arrow card thingy -->
    <img src="../../../assets/patterns/circle.svg" alt="" id="filler2">
    <img src="../../../assets/images/better-living.jpg" alt="" id="image2">
    <img src="../../../assets/patterns/right-arrow.svg" alt="" id="svg2">
    <article id="miss-request">
        <h3 class="mission-text">Better urban living</h3>
        <p class="mission-text">We’re helping connect cities and bring people 
        closer together. Our scooters are also fully-electric 
        and we offset the minimal carbon footprint for each ride.</p>
    </article>
</section>
<section id="mid-card">
    <!-- Values cards -->
    <h2 class="section-title">Our values</h2>
    <app-image-card></app-image-card>
</section>
<section id="faq">
    <!-- FAQ cards -->
    <h2 class="section-title">FAQs</h2>
    <div>
    
    <app-accordion></app-accordion>
      
    </div>
</section>