<div>
    <section class="sign-up">
    <h3>Sign up and Scoot off today</h3>
    <div id="stores">
    <img src="../../../assets/icons/app-store.svg" alt="" id="apple">
    <img src="../../../assets/icons/google-play.svg" alt="" id="google">
    </div>
    <img src="../../../assets/patterns/white-circles.svg" alt="" id="background-img">
    <!-- <img src="../../../assets/patterns/.svg" alt=""> -->
    </section>
    <section class="bottom-nav">
        <img src="../../../assets/logo.svg" alt="" id="bottom-logo">
        <div id="nav-items">
        <a routerLink="/about"><li>About</li></a>
        <a routerLink="/locations"><li>Locations</li></a>
        <a routerLink="/careers"><li>Careers</li></a>
        </div>
        <div id="socials">
            <img src="../../../assets/icons/facebook.svg" alt="" class="socials">
            <img src="../../../assets/icons/twitter.svg" alt="" class="socials">
            <img src="../../../assets/icons/instagram.svg" alt="" class="socials">
        </div>
    </section>
</div>
