<div>
    <section class="sign-up">
    <h3>Sign up and Scoot off today</h3>
    <img src="../../../assets/icons/app-store.svg" alt="" id="apple">
    <img src="../../../assets/icons/google-play.svg" alt="" id="google">
    <!-- <img src="" alt=""> -->
    </section>
    <section class="bottom-nav">
        <img src="../../../assets/logo.svg" alt="" id="bottom-logo">
        <li>About</li>
        <li>Locations</li>
        <li>Careers</li>
        <div id="socials">
            <img src="../../../assets/icons/facebook.svg" alt="">
            <img src="../../../assets/icons/twitter.svg" alt="">
            <img src="../../../assets/icons/instagram.svg" alt="">
        </div>
    </section>
</div>
