<footer>
    <section>
    <h3>Sign up and Scoot off today</h3>
    <img src="../../../assets/icons/app-store.svg" alt="">
    <img src="../../../assets/icons/google-play.svg" alt="">
    </section>
    <section>
        <img src="../../../assets/logo.svg" alt="">
        <li>About</li>
        <li>Locations</li>
        <li>Careers</li>
    </section>
    <section>
        <img src="../../../assets/icons/facebook.svg" alt="">
        <img src="../../../assets/icons/twitter.svg" alt="">
        <img src="../../../assets/icons/instagram.svg" alt="">
    </section>
</footer>
