<h3>How it works</h3>
<cdk-accordion class="accordion">
    <cdk-accordion-item
      *ngFor="let item of accordBlockOne; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-'"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-'">
      <div class="accordion-item-header" (click)="accordionItem.toggle()">
        <h4>{{ item.title }}</h4>
        <span class="accordion-item-description">
          {{ accordionItem.expanded ? '' : '' }}
          <img src="../../../../assets/icons/chevron.svg" alt="">
        </span>
        <!-- ../../../../assets/icons/chevron.svg -->
      </div>
      <div
        class="accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        <p class="body">{{item.content}}</p>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>


  <h3>Safe driving</h3>
  <cdk-accordion class="accordion">
    <cdk-accordion-item
      *ngFor="let item of accordBlockTwo; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="accordion-item-header" (click)="accordionItem.toggle()">
        <h4>{{ item.title }}</h4>
        <span class="accordion-item-description">
          <!-- {{ accordionItem.expanded ? 'close' : 'open' }} -->
          <img src="../../../../assets/icons/chevron.svg" alt="">
        </span>
        <!-- ../../../../assets/icons/chevron.svg -->
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        <p class="body">{{item.content}}</p>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>