p {
    font-family: 'Lexend Deca';
    color: #939CAA;
    text-align: center;
    font-size: 15px;
}
h3 {
    font-family: 'Space Mono';
    color: #495567;
    text-align: center;
}
@media (max-width: 420px) {
    h2 {
        z-index: 3;
        font-family: 'Space Mono';
        color: #ffffff;
        font-size: 40px;
        text-align: center;
    }
    .section-title {
        color: #495567;
    }
    #mid-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
    .card-img {
        height: 240px;
        width: 240px;
        border-radius: 150px;
    }
    .num-circle {
        height: 96px;
        width: 96px;
        position: absolute;
        top: 196px;
    }
    .big-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 1rem;
        width: 311px;
    }
    h4 {
        margin-top: 64px;
        font-family: 'Space Mono';
        font-size: 24px;
    }
}
@media (min-width: 421px) {
    h2 {
        z-index: 3;
        font-family: 'Space Mono';
        color: #ffffff;
        font-size: 40px;
        text-align: center;
    }
    .section-title {
        color: #495567;
    }
    #mid-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    .card-img {
        height: 240px;
        width: 240px;
        border-radius: 150px;
    }
    .num-circle {
        height: 96px;
        width: 96px;
        position: absolute;
        top: 196px;
    }
    .big-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 1rem;
        width: 311px;
    }
    h4 {
        margin-top: 64px;
        font-family: 'Space Mono';
        font-size: 24px;
    }
}