<!-- Alright, flow time. 
Routing is a must, and I'm not worried about that. 
Four major components, each page needs a series of smaller ones. Five if we count nav. 
Might be able to make cards with a single component. Will play with this alongside ngClass.
I realize that we'll need six main components. Four for the site, one for nav, one for
footer. Might be able to make a universal banner comp for different data.  
UPDATE 9/26 - I might be able to make those arrow cards work in data. I'd
have to somehow link an ngClass with the routerLink. -->
<app-nav-bar></app-nav-bar>
<main>
<router-outlet></router-outlet>
<footer>
<app-footer></app-footer>
</footer>
</main>