<header>
    <!-- For that initial landing -->
    <img src="../../../assets/images/home-hero-mobile.jpg" alt="" id="mobile-banner">
    <img src="../../../assets/images/home-hero-desktop.jpg" alt="" id="desk-banner">
    <div class="banner">
    <h2>Scooter sharing made simple</h2>
    <p>Scoot takes the hassle out of urban mobility. Our bikes 
    are placed in convenient locations in each of our cities. 
    Use our app to locate the nearest bike, unlock it with a tap, 
    and you’re away!</p>
    </div>
    <button>Get Scootin</button>
    <img src="../../../assets/patterns/right-arrow.svg" alt="">
</header>
<section>
    <!-- For the text cards -->
    <article>
        <img src="../../../assets/icons/locate.svg" alt="">
        <h4>Lorem, ipsum dolor.</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
        elit. Nulla harum quibusdam, eligendi fuga pariatur 
        veniam alias vel amet neque aliquam?</p>
    </article>
</section>
<section>
    <!-- For those annoying arrow cards -->
    <section class="head-card">
        <!-- for the top arrow card thingy -->
        <img src="../../../assets/images/telemetry.jpg" alt="" id="join-us">
        <img src="../../../assets/patterns/left-downward-arrow.svg" alt="" id="svg">
        <article id="miss-request">
            <h3>Easy to use riding telemetry</h3>
            <p>The Scoot app is available with riding telemetry. 
            This means it can show you your average speed, how 
            long you've been using the scooter, your traveling 
            distance, and many more things all in an easy to use app.</p>
            <button>Learn More</button>
        </article>
    </section>
    <section class="head-card">
        <!-- for the top arrow card thingy -->
        <img src="../../../assets/images/near-you.jpg" alt="" id="join-us">
        <img src="../../../assets/patterns/right-arrow.svg" alt="" id="svg">
        <article id="miss-request">
            <h3>Coming to a city near you</h3>
            <p>Scoot is available in 4 major cities so far. We’re 
            expanding rapidly, so be sure to let us know if you 
            want to see us in your hometown. We’re aiming to let 
            our scooters loose on 23 cities over the coming year.</p>
            <button>Learn More</button>
        </article>
    </section>
    <section class="head-card">
        <!-- for the top arrow card thingy -->
        <img src="../../../assets/images/payments.jpg" alt="" id="join-us">
        <img src="../../../assets/patterns/left-downward-arrow.svg" alt="" id="svg">
        <article id="miss-request">
            <h3>Zero hassle payments</h3>
            <p>Our payment is as easy as one two three. We accept 
            most credit cards and debit cards. You can also link 
            your PayPal account inside the app. Need to pay later? 
            No worries! You can defer payment for up to a month.</p>
            <button>Learn More</button>
        </article>
    </section>
</section>